.footer {
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    margin-top: 2rem;
}

#created-by {
    font-size: 0.9rem;
    color: #666;
    opacity: 0.4;
}