{% extends 'base.html' %}
{% load static %}


{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock %}

{% block title_page %}
    {{ title|title }}
{% endblock %}

{% block content %}
    {% include "header.html" %}

    <main class="post-detail">
        <article class="post-article">
            <header class="post-header">
                <img src="{% static 'majorasmoon.jpg' %}" alt="Django Logo" width="150">
            </header>
            <h1>{{ title|title }}</h1>
            {% for tag in tags %}
                <span class="tag-span"> {{ tag }} </span>
            {% endfor %}
            <div class="post-content">
                {{ content|linebreaks }}
            </div>
            <address class="author-post">Por <a class="mail-text" href="mailto:{{author.email}}">{{ author }}</a> </address>
        </article>
    </main>


    <section class="comments-section">
        {% for comment in comments %}
            <div class="comments-div">
                <strong>{{ comment.user_name }}</strong>
                <p>{{ comment.text }}</p>
                <span>{{ comment.date }}</span>
            </div>
            {%endfor%}
        <form method="POST" action="{% url "detail-post-page" slug=slug %}">
            {% csrf_token %}
            <div class="comments-form {% if form.errors %}errors{% endif %}">
                {{ form.user_name }}
                {{ form.text }}
                {{ form.errors }}
                <button>Comentar</button>
            </div>
        <form>
    </section>

    {% include "footer.html" %}
{% endblock %}