{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/home.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/header.css' %}">
{% endblock %}

<div class="main-container">
    <div class="profile-picture">
        <img src="{% static 'profile_picture.jpg' %}" alt="Django Logo" width="200">
    </div>
    <div class="home">
        <h1>Welcome to my Blog</h1>
        <p>This is a simple blog application built with Django.</p>
        <p>{% lorem 1 b random %}</p>
    </div>
</div>


<section class="cards">
    {% for post in posts %}
    <a href="{% url 'detail-post-page' slug=post.slug %}">
        <div class="card">
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
        </div>
    <a/>
    {% endfor %}
    
    {% comment %} <div class="card">
        <h3>Blog Post Title 2</h3>
        <p>This is a brief description of the second blog post.</p>
        <a href="#">Read More</a>
    </div> {% endcomment %}
</section>