{% load static %}

{% block css_file %}
    <link rel="stylesheet" href="{% static 'blog/home.css' %}">
    <link rel="stylesheet" href="{% static 'blog/includes/header.css' %}">
{% endblock %}

<div>

    <div class="main-container">
        <div class="profile-picture">
            <img src="{% static 'profile_picture.jpg' %}" alt="Django Logo" width="200">
        </div>
        <div class="home">
            <h1>Welcome to my Blog</h1>
            <p>This is a simple blog application built with Django.</p>
            <p>{% lorem 1 b random %}</p>
        </div>
    </div>
    
    <section class="cards">
        {% for post in posts %}
        <a class="card-link" 
        href="{% url 'detail-post-page' slug=post.slug %}">
        <div class="card">
            <div class="card-image">
                <img src="{% static 'majorasmoon.jpg' %}" alt="Django Logo" width="150">
            </div>
            <div class="card-content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
                <p class="author-card">Por {{ post.author }}</p>
            </div>
        </div>
        <a/>
        {% endfor %}
    </section>

    <footer>
        <form method="POST" action="/">
            {% csrf_token %}
            <div class="subscribe-form {% if form.errors %}errors{% endif %}">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <button>Suscribirse</button>
        <form>
    </footer>
    
</div>